.menu_image {
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.menu_image:first-child {
  border-radius: 15px 15px 0px 0px;
}
.menu_image:last-child {
  border-radius: 0px 0px 15px 15px;
}

.pedro_image {
  width: 100%;
  height: auto;
  max-width: 36rem;
  padding: 1rem;
  align-self: center;
}
