.container {
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.3rem 1rem;
  background-color: #02adeccb;
  backdrop-filter: blur(5px);
  z-index: 99;
}

.icon {
  background: linear-gradient(45deg, #ed018c, rgb(255, 88, 116));
  border-radius: 50%;
  padding: 0.8rem;
  transition: ease 0.8s;
}
.icon:hover {
  transition: ease 0.2s;
  filter: brightness(1.06);
}
